<div class="form-group well">
  <label>Install <%= Rails.application.secrets.lti_tool_name %> for the following <%= title%>:</label>
  <% values.each do |auth, collection| %>
    <% if collection.present? -%>
      <p><a href="<%= auth.provider_url %>" target="_blank"><%= auth.provider_url %>:</a></p>
      <ul>
      <%= collection_check_boxes(:lti_install, field, collection, "id", "name") do |b| %>
        <li>  
          <%= b.label(class: "checkbox") do %>
            <%= b.check_box(class: "check_box") %>
            <%= b.object.name %>
            <% if b.object.parent_account_id.present? -%>
              <small>(Sub-account)</small>
            <% end -%>
          <% end %>
        </li>
      <% end %>
      </ul>
    <% end -%>
  <% end -%>
</div>
